 /*.card {
     width: 200px;
     height: 200px;
     border: 2px solid black;
     display: inline-block;
     margin: 10px;
     border-radius: 5px;
 }*/
 img {
     width: 100%;
     border-radius: 5px 5px 0 0;
 }

 /*.desc {
     padding: 0 2px 0 2px;
 }
*/
 .card {
     /*width: 120px;
     height: 200px;*/
     border: 2px solid black;
     display: inline-block;
     margin: 10px;
     border-radius: 5px;
     box-shadow: 2px 4px 8px black;
     transition: 1s;
 }

 .card:hover {
     box-shadow: 4px 8px 16px black;
 }

 .face {
     width: 400px;
     height: 400px;
     background-color: #ffa511;
     border-radius: 50%;
 }

 .mouth {
     width: 200px;
     height: 75px;
     background-color: brown;
     border-radius: 0 0 50px 50px;
     position: absolute;
     top: 250px;
     left: 100px;
 }

 .left {
     width: 50px;
     height: 50px;
     border-radius: 50%;
     background-color: black;
     display: inline-block;
     position: absolute;
     left: 100px;
     top: 100px;
 }

 .right {
     width: 50px;
     height: 50px;
     border-radius: 50%;
     background-color: black;
     display: inline-block;
     position: absolute;
     left: 100px;
     top: 100px;
     left: 250px;
 }